<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/stylesheets/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="/stylesheets/normalize.css" rel="stylesheet" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <title>Birdwave</title>
  </head>

  <body>
    <header>
    <div class="brand">
      <h1>
        Birdwave
        <small>
          Visualizing bird migrations
        </small>
      </h1>
    </div>
    <ul class="partner-logos">
      <li><a href="//neo.com"><img src="/images/neo-logo.png" alt="Neo"/></a></li>
      <li><a href="//ebird.org"><img src="/images/ebird-button-small.gif" alt="eBird.org"/></a></li>
      <li><a href="//www.birds.cornell.edu"><img src="/images/clo.jpeg" alt="Cornell Lab of Ornithology"/></a></li>
    </ul>
    </header>
    <div class="content">
      <div id="main">
      </div>
      <section>
      <h2>How it works</h2>
      <p>
      The
      <a href="//en.wikipedia.org/wiki/Choropleth_map" title="wiki:Choropleth Map" target="_blank">choropleth</a>
      above displays the movement of various birds across the United States over a period of a year.
      </p>
      <p>
      The data for this example was obtained from <a href="//ebird.org" title="eBird.org" target="_blank">eBird.org</a>.
      It consists of all the sightings that were reported for the entire US region over the period of an year from
      December 2012 through November 2013, and weighs in at almost 30M records (20 GB) of tab-separated values.
      </p>
      <p>
      The example retrieves the per-county sighting data for a given bird taxon and month, and calculates the ratio between
      the number of sightings in each county and the total number of birds that were sighted across those sightings. It
      then selectively changes the color of each county to reflect that ratio.
      </p>
      <p>
      To see the movement of any of the listed birds, click on a bird in the list to select it. Then drag the slider month
      to month, and see how the bird population changes over time. You can also zoom in/out by clicking on a state.
      </p>
      </section>
    </div>
    <footer>
      <a href="//neo.com" title="Neo" target="_blank">neo</a>&nbsp;|&nbsp;<a href="//ebird.org" title="eBird.org" target="_blank">eBird.org</a>
    </footer>

    <script src="/javascript/d3.v3.js"></script>
    <script src="/javascript/topojson.js"></script>
    <script src="/javascript/colorbrewer.js"></script>
    <script id="client-script"></script>

    <script> bird_man.client.start(); </script>
  </body>
</html>
