<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/stylesheets/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="/stylesheets/normalize.css" rel="stylesheet" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <title>Birdwave</title>
  </head>

  <body>
    <header>
    <div class="brand">
      <h1>
        Birdwave
        <small>
          Visualizing bird migrations
        </small>
      </h1>
    </div>
    <ul class="partner-logos">
      <li><a href="//neo.com" target="_blank"><img src="/images/neo-logo.png" alt="Neo"/></a></li>
      <li><a href="//ebird.org" target="_blank"><img src="/images/ebird-button-small.gif" alt="eBird.org"/></a></li>
      <li><a href="//www.birds.cornell.edu" target="_blank"><img src="/images/clo.jpeg" alt="Cornell Lab of Ornithology"/></a></li>
    </ul>
    </header>
    <div id="main">
    </div>
    <section id="how-this-works" class="closed">
      <h2>How this works <i class="icon-chevron-right"></i></h2>
      <p>
      The interactive
      <a href="//en.wikipedia.org/wiki/Choropleth_map" title="wiki:Choropleth Map" target="_blank">choropleth</a>
      displays the movement of various birds across the United States over a period of a year.
      </p>
      <p>
      The data for this example was obtained from <a href="//ebird.org" title="eBird.org" target="_blank">eBird.org</a>.
      It consists of all the sightings that were reported for the entire US region over the period of one year from
      December 2012 through November 2013, and weighs in at almost 30 million observations.
      </p>
      <p>
      The map retrieves the per-county sighting data for a given bird species and month, and calculates the ratio between
      the number of sightings in each county and the total number of birds that were sighted across those sightings. It
      then selectively changes the color of each county to reflect that ratio.
      </p>
      <p>
      You can see the movement of any of the listed birds from month-to-month. Select a bird from the list on the right.
      Type to narrow down the selection, then use arrow keys to select the one you want to see.
      Press Enter to select that bird (or use your mouse to click it).
      Then drag the slider month to month, and see how the bird population changes over time.
      You can also zoom in/out by clicking on a state.
      </p>
    </section>
    <script id="client-script"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52966727-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script> bird_wave.client.start(); </script>
  </body>
</html>
