protocol=dev
host=localhost
port=4334
# memory-index-threshold=32m
# memory-index-max=128m
# object-cache-max=128m
memory-index-threshold=512m
memory-index-max=1g
object-cache-max=1g
tx-timeout-msec=120000
peer-connection-ttl-msec=120000
license-key=flGZbFSyf1yj09FZkuknUZAKTWo6axLA5F0HJsjhupc6Ez3Fwg\
ZYd2zVK7K729NykcnEdHfkkZUw5TS8kSmxRoNrUETPfmEpR4dkTlmckVXz0fPv\
zskUqLWNHGYjkdH+djGCIExNm7ixFwKYrNU8a1zexRLsNYeFR3UDXe9Ygm2S7J\
ZPRiGpy9YRxJXUt84GGSSB7cHvQKEQXBRBaZZ5OmWILQHvECUgMrOUR1JrZFYD\
tKgmni/32VbYoBeAfyYl6A3YM2cNleONDRfwBoBSTNAulj5lPPChVkvXqTrV1G\
zz+AU9aeNQJcWFoU3vvfgIZcRnxKSVEkLUQ1FCGlVg8Q==
