svg .background {
  fill: none;
  stroke: #555;
  pointer-events: all;
}

svg .state {
  fill: none;
  stroke: #555;
  stroke-linejoin: round;
  pointer-events: all;
}

svg .county {
  fill: #081d58;
  pointer-events: none;
}

g.axis text {
  fill: #ccc;
  font-size: 12px;
}

g.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

g.axis path.domain {
  fill: none;
  stroke: none;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
  width: 1150px;
  margin: auto;
  background-color: #333;
}

#map {
  width: 900px;
  margin-left: 25px;
}

#slider {
  margin-left: 25px;
  height: 35px;
  width: 900px;
}

#slider svg {
  z-index: -10;
}

#date-input {
  position: relative;
  top: 8px;
  width: 840px;
  margin: auto;
}

#date-input input {
  width: 100%;
  left: -2px;
}

#species {
  position: absolute;
  top: 0px;
  right: 0px;
  max-height: 600px;
  width: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #081d58;
  opacity: 0.6;
  border: 1px solid #ccc;
}

#species ul {
  list-style-type: none;
  padding-left: 0px;
}

#species li {
  font-size: 12px;
  color: #eee;
  line-height: 1.4em;
  margin: 2px;
  padding: 2px;
  border-bottom: 1px solid #ccc;
}

#species li a {
  color: #eee;
  width: 100%;
  height: 100%;
  display: block;
}

#species li:hover a,
#species li.selected a {
  background: #c7e9b4;
  color: #444;
}

/* for debugging */
#inspector {
  background-color: white;
}
